In [1]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import datetime

In [2]:
NORS_df = pd.read_csv('../data/NORS.csv')

C:\Users\rayna\AppData\Local\Temp\ipykernel_4208\874844664.py:1: DtypeWarning: Columns (8,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  NORS_df = pd.read_csv('../data/NORS.csv')

In [3]:
NORS_df.head()

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,Info On Hospitalizations,Deaths,Info On Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type
0,1971,2,California,Water,Copper,NaN,Confirmed,Restaurant,2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN
1,1971,6,Arkansas,Water,Hepatitis A,NaN,Confirmed,Store,98,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Other,NaN
2,1971,6,Missouri,Water,Unknown,NaN,Suspected,Subdivision/Neighborhood,2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN
3,1971,6,Alabama,Water,Selenium,NaN,Confirmed,Unknown,3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Individual/Private,NaN
4,1971,6,Vermont,Water,Unknown,NaN,Suspected,Community/municipality,3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN

In [4]:
NORS_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66713 entries, 0 to 66712
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          66713 non-null  int64
 1   Month                         66713 non-null  int64
 2   State                         66713 non-null  object
 3   Primary Mode                  66713 non-null  object
 4   Etiology                      50375 non-null  object
 5   Serotype or Genotype          16470 non-null  object
 6   Etiology Status               50375 non-null  object
 7   Setting                       60804 non-null  object
 8   Illnesses                     66713 non-null  object
 9   Hospitalizations              58155 non-null  float64
 10  Info On Hospitalizations      58480 non-null  object
 11  Deaths                        58785 non-null  float64
 12  Info On Deaths                58463 non-null  object
 13  Food Vehicle                  12446 non-null  object
 14  Food Contaminated Ingredient  2750 non-null   object
 15  IFSAC Category                11705 non-null  object
 16  Water Exposure                3106 non-null   object
 17  Water Type                    2730 non-null   object
 18  Animal Type                   587 non-null    object
dtypes: float64(2), int64(2), object(15)
memory usage: 9.7+ MB

In [5]:
NORS_df.duplicated().sum()

np.int64(1421)

In [6]:
NORS_df['Primary Mode'].unique()

array(['Water', 'Food', 'Person-to-person', 'Indeterminate/unknown',
       'Animal contact',
       'Environmental contamination other than food/water'], dtype=object)

In [7]:
duplicated_rows = NORS_df[NORS_df.duplicated()]
print(duplicated_rows)

       Year  Month           State           Primary Mode           Etiology  \
521    1983      7       Minnesota                  Water  Norovirus unknown
1037   1998      1            Ohio                   Food                NaN
1049   1998      1      Washington                   Food                NaN
1054   1998      1            Ohio                   Food                NaN
1101   1998      1         Florida                   Food                NaN
...     ...    ...             ...                    ...                ...
66395  2023     11  South Carolina       Person-to-person  Norovirus unknown
66473  2023     12       Wisconsin       Person-to-person  Norovirus unknown
66532  2023     12            Iowa  Indeterminate/unknown                NaN
66660  2023     12       Minnesota       Person-to-person  Norovirus unknown
66661  2023     12       Minnesota       Person-to-person  Norovirus unknown

      Serotype or Genotype Etiology Status  \
521                    NaN       Confirmed
1037                   NaN             NaN
1049                   NaN             NaN
1054                   NaN             NaN
1101                   NaN             NaN
...                    ...             ...
66395                  NaN       Suspected
66473                  NaN       Suspected
66532                  NaN             NaN
66660                  NaN       Suspected
66661                  NaN       Suspected

                                                 Setting Illnesses  \
521                           Park - Community/Municipal        38
1037                                   Restaurant: Other         2
1049                                   Restaurant: Other         3
1054                                   Restaurant: Other         2
1101                                   Restaurant: Other         2
...                                                  ...       ...
66395                          School/college/university         8
66473  Long-term care/nursing home/assisted living fa...        20
66532                                         Restaurant         3
66660                          School/college/university        17
66661                            Child daycare/preschool         7

       Hospitalizations Info On Hospitalizations  Deaths Info On Deaths  \
521                 NaN                      NaN     NaN            NaN
1037                0.0                        2     0.0              2
1049                0.0                        3     0.0              3
1054                0.0                        2     0.0              2
1101                0.0                        2     0.0              2
...                 ...                      ...     ...            ...
66395               0.0                      8.0     0.0            8.0
66473               1.0                     20.0     0.0           20.0
66532               0.0                      3.0     0.0            3.0
66660               0.0                      0.0     0.0            0.0
66661               NaN                      0.0     NaN            0.0

             Food Vehicle Food Contaminated Ingredient IFSAC Category  \
521                   NaN                          NaN            NaN
1037                  NaN                          NaN            NaN
1049                  NaN                          NaN            NaN
1054                  NaN                          NaN            NaN
1101   steak, unspecified                          NaN           Beef
...                   ...                          ...            ...
66395                 NaN                          NaN            NaN
66473                 NaN                          NaN            NaN
66532                 NaN                          NaN            NaN
66660                 NaN                          NaN            NaN
66661                 NaN                          NaN            NaN

                        Water Exposure Water Type Animal Type
521    Recreational water -- untreated    Unknown         NaN
1037                               NaN        NaN         NaN
1049                               NaN        NaN         NaN
1054                               NaN        NaN         NaN
1101                               NaN        NaN         NaN
...                                ...        ...         ...
66395                              NaN        NaN         NaN
66473                              NaN        NaN         NaN
66532                              NaN        NaN         NaN
66660                              NaN        NaN         NaN
66661                              NaN        NaN         NaN

[1421 rows x 19 columns]

In [8]:
NORS_df.drop_duplicates(keep='first', inplace=True)
NORS_df.duplicated().sum()

np.int64(0)

In [9]:
NORS_df['Month'] = NORS_df['Month'].astype('str').replace({'1': '01', '2': '02', '3': '03', '4': '04', '5': '05', '6': '06', '7': '07', '8': '08', '9': '09'})
NORS_df.head()

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,Info On Hospitalizations,Deaths,Info On Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type
0,1971,02,California,Water,Copper,NaN,Confirmed,Restaurant,2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN
1,1971,06,Arkansas,Water,Hepatitis A,NaN,Confirmed,Store,98,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Other,NaN
2,1971,06,Missouri,Water,Unknown,NaN,Suspected,Subdivision/Neighborhood,2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN
3,1971,06,Alabama,Water,Selenium,NaN,Confirmed,Unknown,3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Individual/Private,NaN
4,1971,06,Vermont,Water,Unknown,NaN,Suspected,Community/municipality,3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN

In [10]:
NORS_df['Date'] = NORS_df['Year'].astype('str') + "-" + NORS_df['Month'].astype('str')
column_to_move = NORS_df.pop('Date')
NORS_df.insert(0, 'Date', column_to_move)
NORS_df.drop(columns=['Year', 'Month'], inplace= True)
NORS_df.head()

,Date,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,Info On Hospitalizations,Deaths,Info On Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type
0,1971-02,California,Water,Copper,NaN,Confirmed,Restaurant,2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN
1,1971-06,Arkansas,Water,Hepatitis A,NaN,Confirmed,Store,98,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Other,NaN
2,1971-06,Missouri,Water,Unknown,NaN,Suspected,Subdivision/Neighborhood,2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN
3,1971-06,Alabama,Water,Selenium,NaN,Confirmed,Unknown,3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Individual/Private,NaN
4,1971-06,Vermont,Water,Unknown,NaN,Suspected,Community/municipality,3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Drinking water,Community,NaN